<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dragar.luka.offbikeworkouts">

    <!-- Include required permissions for Google Mobile Ads to run. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Splash"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyIntro"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".view.OverviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CoverActivity"
            android:parentActivityName=".view.OverviewActivity"
            android:theme="@style/AppThemeCover"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".view.WorkoutActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.CoverActivity"
            tools:ignore="UnusedAttribute" />

        <service android:name=".presenter.WorkoutService" />

        <activity android:name=".view.OverviewActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CoverActivity2"
            android:parentActivityName=".view.OverviewActivity2"
            android:theme="@style/AppThemeCover"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".view.WorkoutActivity2"
            android:launchMode="singleTop"
            android:parentActivityName=".view.CoverActivity2"
            tools:ignore="UnusedAttribute" />

        <service android:name=".presenter.WorkoutService2" />

        <activity android:name=".view.OverviewActivity3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CoverActivity3"
            android:parentActivityName=".view.OverviewActivity3"
            android:theme="@style/AppThemeCover"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".view.WorkoutActivity3"
            android:launchMode="singleTop"
            android:parentActivityName=".view.CoverActivity3"
            tools:ignore="UnusedAttribute" />

        <service android:name=".presenter.WorkoutService3" /> <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.OverviewActivity4" />
        <activity android:name=".view.OverviewActivity5" />


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4526692710511158~5477844156" />
    </application>

</manifest>